<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<title>Java EE Shopping Cart (Monolithic)</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/cssLayout.css}"/>

<link rel="stylesheet"
	  th:href="@{/default.css}" />

</head>
<body>
	<div id="top" class="top">
		<span ><a><h1  href="index"><p>Java EE Shopping Cart (Monolithic)</p></h1></a></span>
	</div>
	<div>
		<div id="left">
		<p>	<a href="user"> Create User </a></p>
			<p>	<a href="catalog" >Catalog </a></p>
			<p><a href="cart" > Cart</a></p>
			<p>	<a href="payment" >Payment </a></p>

		</div>

	</div>
</body>
</html>